version: "3"

services:
  langpt-web:
    container_name: langpt-web
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
    restart: always
    ports:
      - 8000:3000
    environment:
      - NODE_ENV=production
      - SECRET_COOKIE_PASSWORD={{PASSWORD}}
